@model List<WorkshopManager.Models.ViewModels.UserWithRolesViewModel>

<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Role</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td>@string.Join(", ", user.Roles)</td>  <!-- Tutaj wyświetlamy role -->
            <td>
                <a asp-action="EditUserRoles" asp-route-userId="@user.Id" class="btn btn-sm btn-primary">Edytuj role</a>

                @* tylko dla klientów *@
                @if (user.Roles.Contains("Klient"))
                {
                    <a asp-action="ClientVehicles"
                       asp-controller="Admin"
                       asp-route-clientId="@user.Id"
                       class="btn btn-sm btn-secondary ms-1">
                        Pojazdy klienta
                    </a>
                }

            @* Jeśli użytkownik jest mechanikiem, pokaż przycisk Zlecenia *@
                @if(user.Roles.Contains("Mechanik"))
                {
                    <!-- Link do listy zleceń dla konkretnego mechanika (administrator) -->
                    <a asp-controller="Mechanik" asp-action="MyOrders" asp-route-mechanicId="@user.Id" class="btn btn-sm btn-success ms-2">Zlecenia</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>