@model List<WorkshopManager.Models.ViewModels.UserWithRolesViewModel>

<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Role</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td>@string.Join(", ", user.Roles)</td>  <!-- Tutaj wyświetlamy role -->
            <td>
                <a asp-action="EditUserRoles" asp-route-userId="@user.Id" class="btn btn-sm btn-primary">Edytuj role</a>
            </td>
        </tr>
    }
    </tbody>
</table>