@model List<WorkshopManager.Models.ServiceOrder>
@{
    ViewData["Title"] = "Zlecenia dla pojazdu";
    var vid = (int)ViewBag.VehicleId;;
}
<a asp-controller="ServiceOrder"
   asp-action="Create"
   asp-route-id="@vid"
   class="btn btn-success mb-3">
    Dodaj zlecenie
</a>

<h2>Zlecenia dla pojazdu #@vid</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th><th>Mechanik</th><th>Status</th><th>Opis</th><th>Data</th><th>Data zakoczenia</th><th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var order in Model)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.Mechanic?.Name ?? "–"</td>
            <td>@order.Status</td>
            <td>@order.Description</td>
            <td>@order.CreatedAt.ToLocalTime().ToString("g")</td>
            <td>
                @(order.CompletedAt.HasValue ? order.CompletedAt.Value.ToLocalTime().ToString("g") : "-")
            </td>
            <td>
                <a asp-action="Details"
                   asp-route-id="@order.Id"
                   class="btn btn-sm btn-primary">
                    Szczegóły
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
