@model List<WorkshopManager.Models.ApplicationUser>

<div class="container mt-4">
    <h2 class="mb-4">Lista klientów</h2>

    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            Brak klientów do wyświetlenia.
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead class="table-dark">
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th colspan="2" class="text-center">Akcje</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td>@client.Name</td>
                        <td>@client.Surname</td>
                        <td>@client.Email</td>
                        <td class="text-center">
                            <a asp-controller="Vehicle" asp-action="Add" asp-route-clientId="@client.Id" class="btn btn-sm btn-success">
                                <i class="bi bi-plus-circle me-1"></i> Dodaj pojazd
                            </a>
                        </td>
                        <td class="text-center">
                            <a asp-action="ClientVehicles" asp-route-clientId="@client.Id" class="btn btn-sm btn-secondary">
                                <i class="bi bi-car-front-fill me-1"></i> Pojazdy klienta
                            </a>
                            <a asp-controller="Report" asp-action="Report" asp-route-clientId="@client.Id" class="btn btn-sm btn-secondary">
                                <i class="bi bi-car-front-fill me-1"></i> Raport
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>
